.navigation {
    margin: 20px 50px 0;
}

.navigation__unorderedList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation__listItem {
    margin: 10px;
}

.navigation__link {
    background-color: #3C403D;
    color: #fff;
    text-decoration: none;
    padding: 4px 15px;
}
.navigation__link:visited {
    color: #fff;
}

.navigation__link:focus {
    outline: 5px solid #478559;
}

.navigation__link:hover {
    background-color: #478559;
    outline: none;
}